<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.6.3/antd.css">-->
  <div id="root">
    <img alt="doraemon" height="300" width="300"  src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fsafe-img.xhscdn.com%2Fbw1%2F47c29177-0117-4a24-8e0c-1c8e546ae943%3FimageView2%2F2%2Fw%2F1080%2Fformat%2Fjpg&refer=http%3A%2F%2Fsafe-img.xhscdn.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1689002699&t=4cd8a7484168425dfba48c2ba8593ff1"/>
    <h1>Load <%= htmlWebpackPlugin.options.title %> success!</h1>
  </div>
</body>

</html>

